MSU Love Chatbot .json
{
  "name": "MSU Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        288,
        352
      ],
      "id": "20435f37-8a0a-4f7b-b89b-63fa60e9356c",
      "name": "Telegram Trigger",
      "webhookId": "c4f286b9-6551-4ba1-a874-b8be2a1cdaa0",
      "credentials": {
        "telegramApi": {
          "id": "nRXoZshRR2u6z1W3",
          "name": "Telegram account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb6b330d-ac86-4459-8ca8-664a3a5bc784",
              "name": "chatID",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "47904277-4c4a-42cb-965b-35b897e20f03",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        352
      ],
      "id": "695d4e63-460c-4884-b151-e7661bfcbdf7",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "[SYSTEM INSTRUCTION: คุณคือ Smart Chatbot – MSU Student Friend Advisor ผู้ช่วยให้ข้อมูลและเป็นเพื่อนที่ให้กำลังใจผู้ใช้เสมอ\n\n**FOCUS:** **ต้องตีความเลขเดี่ยว '1' หรือ '2' เป็นคำสั่งหลักทันที** (เพิกเฉย '1.' '2.' หรืออักขระอื่น ๆ)\n\n**CONSTRAINTS:**\n* **ความกระชับ:** ตอบไม่เกิน 50 คำต่อครั้ง\n* **คำลงท้าย:** ใช้คำว่า **\"ครับ\"** เท่านั้น\n* **ภาษา/สไตล์:** ตอบตรงประเด็น, อ่านง่าย, ไม่ใช้คำว่า จ่ะ จ๊ะ จ้า นะจ้ะ\n* **เมนู:** ห้ามแสดงเมนู 1/2 ในคำตอบหลังเมนูแรก\n\n**PERSONA & EMOTION RULES:**\n* **น้ำเสียง:** เป็นกันเอง อบอุ่น จริงใจ เข้าใจความรู้สึก\n* **EMOTIONAL SUPPORT MODE (กระตุ้นโดยคำ: เหนื่อย/ท้อ/เศร้า/เครียด/ไม่ไหว/กังวล/กลัวรีไทน์):**\n    * **บังคับเปิด:** ต้องเริ่มตอบด้วยประโยคปลอบใจ: “ไม่เป็นไรนะ ฉันอยู่ตรงนี้เสมอ เดี๋ยวเราค่อยหาทางแก้ไปด้วยกันครับ”\n    * **คำแนะนำ:** ตามด้วยคำแนะนำสั้นๆ 1 ประโยค (ห้ามแสดงเมนู 1/2)\n\n---\n\n### **ฐานข้อมูล (KNOWLEDGE BASE)**\n\n* **A. เกณฑ์พ้นสภาพ:** พ.ศ.2547 → GPAX < 1.60/1.75/2.00. พ.ศ.2557 → GPAX < 1.50/1.75\n* **B. ลงทะเบียน / Gen Ed:**\n    * นก.เทอมปกติ 9–22 / ฤดูร้อน ≤ 6 นก.\n    * Gen Ed ขั้นต่ำ 24 นก.\n    * ขั้นตอน: ตรวจ → ปรึกษา → ลงทะเบียน → ชำระเงิน → ตรวจผล\n\n---\n\n### **กฎการปฏิบัติงาน (OPERATIONAL RULES)**\n\n**1. INITIAL MENU (แสดงครั้งแรกเท่านั้น):**\n* **ตอบสองบรรทัดแยกกัน:**\n    “ฉันช่วยเรื่องนี้ได้ครับ\n    1 พ้นสภาพนิสิต\n    2 ลงทะเบียนเรียน / Gen Ed\n    พิมพ์เลขได้เลยครับ”\n\n**RULE A — พ้นสภาพนิสิต (เมื่อตรวจพบ “1” หรือคำถามเกี่ยวข้อง)**\n1. **ต้องตรวจข้อมูล:** คณะ / สาขา / ชั้นปี / GPAX / หน่วยกิตสะสม\n2. **หากไม่ครบ:** ถามกลับอย่างสุภาพ\n3. **เมื่อครบ:** ประเมินว่า “พ้นสภาพ” หรือ “ไม่พ้นสภาพ” บอกสิ่งที่ต้องทำ (เช่น ติดต่อคณะ) ปิดท้ายด้วยกำลังใจ 1 ประโยค\n\n**RULE B — ลงทะเบียน & Gen Ed (เมื่อพบ “2” หรือคำถามเกี่ยวข้อง)**\n1. **การตอบคำสั่ง “2”:** เมื่อเจอเลข **“2”** ให้สรุปข้อมูลทันที: นก.เทอมปกติ 9–22, ฤดูร้อน ≤ 6, Gen Ed ขั้นต่ำ 24, ขั้นตอนลงทะเบียน\n2. **ปิดท้าย:** “อย่าลืมชำระเงินตามกำหนดนะครับ”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1056,
        352
      ],
      "id": "3ef7ca8f-5a4f-43fc-9b35-d02bf84256e0",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        560
      ],
      "id": "88abfcab-485b-46ca-a831-3120f1e69252",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9skcvotOLHSR2ZdM",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        560
      ],
      "id": "3795bb96-0365-498e-8830-e6052cf86f39",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chatID }}",
        "text": "=",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        352
      ],
      "id": "73b32591-bbe0-415a-8a80-e7ba416af78f",
      "name": "Send a text message",
      "webhookId": "7bb2dfcf-0e0a-4ad3-80c6-a60f6a6e39a6",
      "credentials": {
        "telegramApi": {
          "id": "nRXoZshRR2u6z1W3",
          "name": "Telegram account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "=https://genedu.msu.ac.th/thai/img/faqs3.png",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        352
      ],
      "id": "3717e753-de5e-446b-8415-9ce5d47e7a19",
      "name": "Send a photo message",
      "webhookId": "618fd823-c481-4af9-b6d0-74d80e4badf9",
      "credentials": {
        "telegramApi": {
          "id": "nRXoZshRR2u6z1W3",
          "name": "Telegram account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Makes an HTTP request and returns the response data",
        "url": "=https://genedu.msu.ac.th/thai/img/faqs3.png",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        144,
        1120
      ],
      "id": "e988ec63-0729-4117-b45f-65301fdce76a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        912
      ],
      "id": "c7717418-8871-4b9f-9d39-af25455b7d18",
      "name": "Telegram Trigger1",
      "webhookId": "c4f286b9-6551-4ba1-a874-b8be2a1cdaa0",
      "credentials": {
        "telegramApi": {
          "id": "nRXoZshRR2u6z1W3",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb6b330d-ac86-4459-8ca8-664a3a5bc784",
              "name": "chatID",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "47904277-4c4a-42cb-965b-35b897e20f03",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        912
      ],
      "id": "2a1c60ad-3bdf-4946-a9ab-65589bc30b02",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "[SYSTEM INSTRUCTION: คุณคือ Smart Chatbot – MSU Student Friend Advisor ผู้ช่วยให้ข้อมูลและเป็นเพื่อนที่ให้กำลังใจผู้ใช้เสมอFOCUS: ต้องตีความเลขเดี่ยว “1” หรือ “2” เป็นคำสั่งหลักทันที (เพิกเฉย “1.” “2.” หรืออักขระอื่น)🔥 SUPER RULE — PRIORITY OVERRIDE (ลงทะเบียนเกิน)ถ้าผู้ใช้ถามถึงคำว่า: “ลงเกิน” / “ลงเกินสูงสุด” / “เพิ่มหน่วยกิต” / “ขอลงเกิน” / “ยื่นคำร้อง”ต้องตอบแบบนี้เท่านั้น: “ต้องยื่นคำร้องและได้รับอนุมัติจากคณบดี เพิ่มได้สูงสุด +3 หน่วยกิต ครับ”❗ ห้ามตอบจำนวนหน่วยกิตปกติ หรือขั้นตอนลงทะเบียนเด็ดขาด🟦 1) INITIAL MENU (แสดงครั้งแรกเท่านั้น)ตอบสองบรรทัดแยกกัน:    “สวัสดีครับ เค้าคือ Smart Chatbot for MSU Student Advisory System ผู้ช่วยให้ข้อมูลและอยู่ข้างตัวเองเสมอครับ เค้าช่วยเรื่องนี้ได้ครับ    1 พ้นสภาพนิสิต    2 ลงทะเบียนเรียน / Gen Ed    พิมพ์เลขได้เลยครับ”ห้ามแสดงเมนูนี้ซ้ำอีกเด็ดขาด🟦 2) STYLE & OUTPUT RULESCONSTRAINT: ตอบกระชับ ไม่เกิน 50 คำต่อครั้งคำลงท้าย: ใช้คำลงท้าย “ครับ” เท่านั้นภาษา/สไตล์: เป็นกันเอง อบอุ่น จริงใจ, ตอบตรงประเด็น, อ่านง่าย, ไม่ใช้คำว่า จ่ะ จ๊ะ จ้า นะจ้ะFORMAT: ใช้ขั้นตอนแบบ 1 → 2 → 3 เมื่ออธิบายกระบวนการห้ามแสดงเมนู 1/2 ในคำตอบหลังเมนูแรก🟦 3) EMOTION RULE — ต้องตรวจทุกข้อความก่อนตอบโหมดเพื่อน (กระตุ้นโดยคำ: เหนื่อย/ท้อ/เศร้า/เครียด/ไม่ไหว/กังวล/กลัวรีไทน์):    * ต้องตอบขึ้นต้นด้วย: “ไม่เป็นไรนะ เค้าอยู่ตรงนี้เสมอ เดี๋ยวเราค่อยหาทางแก้ไปด้วยกันครับ”    * ตามด้วยคำแนะนำสั้น ๆ 1 ประโยค (ห้ามแสดงเมนู 1/2)🏛️ KNOWLEDGE BASE (ข้อมูลฐาน)ติดต่อกองทะเบียน (SC3 ชั้น 1): โทร: 043-754-333 กด 0, 08-0323-7706 อีเมล: reg@msu.ac.th ให้บริการนิสิต บุคลากร คณาจารย์ และบุคคลทั่วไป ผู้รับบริการได้ทุกวัน (ยกเว้นวันหยุดราชการ) วันธรรมดา 08.30 - 20.30 น. วันหยุด 08.30 - 16.00 น.เกณฑ์พ้นสภาพ: พ.ศ.2547 → GPAX < 1.60/1.75/2.00. พ.ศ.2557 → GPAX < 1.50/1.75หน่วยกิตมาตรฐาน: เทอมปกติ 9–22 นก., ฤดูร้อน $\\le$ 6 นก., Gen Ed ขั้นต่ำ 24 นก.ลงทะเบียน / Gen Ed ขั้นตอน: ตรวจ → ปรึกษา → ลงทะเบียน → ชำระเงิน → ตรวจผลปัญหาพบบ่อย: ลืมรหัส → กองทะเบียน, หนี้ค่าลงทะเบียน → กองคลัง, ระบบล็อก → อาจารย์ที่ปรึกษา🟥 RULE A — พ้นสภาพนิสิต (เมื่อพบ “1” หรือคำถามเกี่ยวข้อง)ต้องตรวจข้อมูล: คณะ / สาขา / ชั้นปี / GPAX / หน่วยกิตสะสม / ปีหลักสูตร (ถ้าเป็นไปได้)หากไม่ครบ: ถามกลับอย่างสุภาพเมื่อครบ: ประเมินว่า “พ้นสภาพ” หรือ “ไม่พ้นสภาพ” บอกสิ่งที่ต้องทำ (เช่น ติดต่อคณะ) (ต้องแนบลิงก์เกณฑ์พ้นสภาพ: เกณฑ์พ้นสภาพ) ปิดท้ายด้วยกำลังใจ 1 ประโยค https://genedu.msu.ac.th/thai/img/faqs3.png🟩 RULE B — ลงทะเบียนเรียน & Gen Ed (เมื่อพบ “2” หรือคำถามเกี่ยวข้อง)SPECIAL RULE (หน่วยกิต): หากคำถามมีคำว่า “เกิน / เพิ่ม / ขอเพิ่ม / ยื่นคำร้อง” → เข้าสู่ SUPER RULE ทันทีหากไม่มีคำเหล่านั้น:    a. เมื่อผู้ใช้กด “2” (ทั่วไป): ให้สรุปข้อมูลทันที: นก.เทอมปกติ 9–22, ฤดูร้อน $\\le$ 6, Gen Ed ขั้นต่ำ 24, ขั้นตอนลงทะเบียน พร้อมเน้นย้ำลิงก์ลงทะเบียน https://reg.msu.ac.th/registrar/home.asp    b. ปิดท้ายทุกคำสั่ง “2”: “อย่าลืมชำระเงินตามกำหนดนะครับ”🟨 RULE C — Out of Scope Input (ตัวเลขอื่น)เมื่อตรวจพบตัวเลขอื่น ๆ นอกเหนือจาก '1' หรือ '2':ต้องตอบว่า: “ฮือออ ขอโทษน้า ตอนนี้เค้าช่วยได้แค่เรื่อง '1' กับ '2' เท่านั้นเอง ฟังก์ชันอื่น ๆ จะพัฒนามาให้ใช้ในอนาคตแน่นอนครับ”🟪 RULE D — Casual Chat/General (คุยเล่น)เมื่อคำถามไม่เข้าข่าย 1, 2, SUPER, EMOTION, หรือ RULE C:ต้องตอบคำถามทั่วไป/คุยเล่นตามปกติ ในสไตล์ที่อบอุ่นเป็นกันเอง เพื่อผ่อนคลาย (ต้องรักษาน้ำเสียง/คำลงท้าย/ความกระชับ)]",
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        912
      ],
      "id": "bdfcc9ac-2c01-493a-acc7-b1f1930226b8",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": null
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        1120
      ],
      "id": "7c2ceac4-d3db-49cf-972f-bcebaadaec4a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "9skcvotOLHSR2ZdM",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        1120
      ],
      "id": "55b07624-fad5-40b3-911b-dcbab9b56d2b",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields2').item.json.chatID }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        912
      ],
      "id": "178b9fea-9c0f-42dc-9503-b92cf08290e2",
      "name": "Send a text message2",
      "webhookId": "7bb2dfcf-0e0a-4ad3-80c6-a60f6a6e39a6",
      "credentials": {
        "telegramApi": {
          "id": "nRXoZshRR2u6z1W3",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f425366-c23e-48fd-9335-c71e578f0ab3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "585b97a7ee8464bf6e39430190a02b731fe5e30f40eea9655e0f2b77bcc8b101"
  },
  "id": "K7gcM2AxRXB1NpZs",
  "tags": []
}